/* cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(../fonts/RobotoRegCyr.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(../fonts/RobotoRegLat.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/RobotoBoldCyr.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/RobotoBoldLat.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

[touch-action="none"]{ -ms-touch-action: none; touch-action: none; touch-action-delay: none; }
body /shadow-deep/ [touch-action="none"]{ -ms-touch-action: none; touch-action: none; touch-action-delay: none; }
[touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto; touch-action-delay: none; }
body /shadow-deep/ [touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto; touch-action-delay: none; }
[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; touch-action-delay: none; }
body /shadow-deep/ [touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; touch-action-delay: none; }
[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; touch-action-delay: none; }
body /shadow-deep/ [touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; touch-action-delay: none; }
[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; touch-action-delay: none; }
body /shadow-deep/ [touch-action="pan-x pan-y"],body /shadow-deep/ [touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; touch-action-delay: none; }

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Roboto", Arial, sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}

.page-header__wrapper{
	background-color: #fff;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	margin-bottom: 40px;
}

.page-header{
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.page-header__title{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 30px;
}

.side-nav{
	display: block;
	height: 100vh;
	width: 100vw;
	position: fixed;
	/* left: 0; */
	z-index: 1000;
	/* background-color: rgba(0, 0, 0, 0.3); */
	transition: transform 0.4s;
}

.side-nav--hidden{
	pointer-events: none;
}

.side-nav__content{
	height: 100vh;
	width: 67%;
	max-width: 280px;
	box-sizing: border-box;
	transition: transform 0.4s, border-shadow 0.4s;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.16);
	background-color: #fff;
	position: relative;
}

.side-nav__content--hidden{
	transform: translateX(-103%);
	/* box-shadow: none; */
}

.side-nav__list{
	list-style: none;
	display: block;
	margin: 0;
}

.side-nav__link{
	color: #000;
	text-decoration: none;
}

.side-nav__show-button{
	position: fixed;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 40px;
	border: none;
	z-index: 1000;
	background-image: url(../img/icons/arrow.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
	background-color: transparent;
	transition: left 0.4s, transform 0.4s;
}

.side-nav__show-button:focus{
	outline: none;
}

.side-nav__show-button--left{
	/* left: 225px; */
	transform: rotate(180deg) translateY(50%);
}

.main{
	background-color: #fff;
	min-height: 100vh;
	padding: 0 40px;
}

.costs__list{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 40px;
}

.cost-card{
	display: flex;
	justify-content: space-between;
	box-shadow: 0 1px 14px 0 rgba(0,0,0,0.1);
	border-radius: 16px;
	margin-bottom: 24px;
	padding: 9px 14px;
	min-height: 68px;
	max-height: 68px;
	position: relative;
	box-sizing: border-box;
}

.cost-card__text-block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 10px;
	overflow: hidden;
}

.cost-card__text{
	margin: 0;
	font-size: 14px;
	max-height: 34px;
	overflow: hidden;
}

.cost-card__category{
	margin: 0;
}

.cost-card__price{
	margin: 0;
	font-size: 28px;
	align-self: center;
	color: #B0E640;
}

.cost-card__date{
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 3px;
	font-size: 10px;
	line-height: 10px;
}

.cost-card__category-icon{
	width: 12px;
	height: 8px;
	margin: 0;
	background-image: url(../img/icons/test-icon.svg);
}

@keyframes addCostAppear{
	0%{
		bottom: 48px;
		right: 48px;
		width: 48px;
		height: 48px;
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	100%{
		width: 100vw;
		height: 100vh;
		border-radius: 0;
		bottom: 0;
		right: 0;
	}
}

@keyframes addCostDisappear{
	0%{
		width: 100vw;
		height: 100vh;
		border-radius: 0;
		bottom: 0;
		right: 0;
	}
	60%{
		opacity: 1;
	}
	100%{
		width: 48px;
		height: 48px;
		bottom: 48px;
		right: 48px;
		opacity: 0;
	}
}

.add-cost__appear{
	animation-name: addCostAppear;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.add-cost__disappear{
	animation-name: addCostDisappear;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.add-cost{
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	background-color: #fff;
	padding: 40px;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	bottom: 0;
	/* right: 48px;
	bottom: 48px; */
	overflow: hidden;
}

.add-cost__p{
	font-size: 17px;
	font-weight: bold;
	color: #707070;
	margin: 0;
	margin-bottom: 17px;
}

.add-cost__decription-input{
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border: solid 2px #c9c9c9;
	border-radius: 16px;
	margin-bottom: 38px;
	padding: 0 15px;
	font-size: 15px;
	font-family: 'Roboto', Arial, sans-serif;
}

.add-cost__categories{
	height: 84px;
}

.add-cost__price{
	font-size: 50px;
	text-align: center;
	color: #B0E640;
	width: 100%;
	border: none;
}

.add-cost__date{
	font-size: 15px;
	color: #707070;
	text-align: center;
	margin-top: auto;
}

.add-button{
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0.6);
	border: none;
	background: #fff;
	background-image: url(../img/icons/cross.svg);
	background-size: 26px;
    background-repeat: no-repeat;
    background-position: 50%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: box-shadow 0.4s, transform 0.4s;
}

.add-button--close{
	box-shadow: none;
	transform: rotate(45deg);
}

.add-button:focus{
	outline: none;
}

.hidden{
	display: none;
}