@font-face{
	font-family: "Open sans";
	src: url(../fonts/opensansbold.woff);
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Open sans";
	src: url(../fonts/opensans.woff2);
	src: url(../fonts/opensans.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Open sans";
	src: url(../fonts/opensanslight.woff2);
	src: url(../fonts/opensanslight.woff);
	font-weight: 300;
	font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	background-color: #f6f5f3;
	font-size: 16px;
	font-family: "Open sans", Arial, sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	/* padding: 0 20px; */
}

.add-button{
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0.6);
	border: none;
	background: transparent;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.page-header__wrapper{
	background-color: #fff;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	margin-bottom: 40px;
}

.page-header{
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.page-header__title{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 30px;
}

.side-nav{
	display: none;
}

.main{
	background-color: #fff;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	min-height: 100vh;
}

.costs__list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.costs__item{
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.costs__item-date{
	margin: 0;
	padding: 16px;
}

.costs__item-content{
	margin: 0 auto;
	padding: 16px;
}

.costs__item-category{
	margin: 0;
	padding: 16px;
}